body {
    font-family: Arial, sans-serif;
}

#login-container, #upload-container, #file-list-container {
    margin: 20px;
}

#file-list {
    list-style-type: none;
    padding: 0;
}

#file-list li {
    margin-bottom: 10px;
}